<div class="page-wrapper">
  {{ custom_header }}
    <div class="content-wrapper row m-0">
    {{ custom_column_left }}
    <main class="main-wrap col-12 col-lg-10 p-0">
      <div class="main-content">
        <div class="sub-head clearfix">
          <h1 class="page-title float-left">{{ heading_title }}</h1>
          <a class="advance-link btn float-right" href="{{ add }}">Thêm đơn hàng</a>
        </div>
        <div class="box-wrap">
          <div class="box-head">
            <div class="sub-title"><i class="fas fa-list-ul"></i> Danh sách đơn hàng</div>
          </div>
          <div class="box-content">
            <form class="filter-form order-filter clearfix">
              <div class="row">
                <div class="col-md-8">
                  <div class="input-group search-group">
                    <div class="input-group-prepend">
                      <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Lọc</button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <div role="separator" class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a>
                      </div>
                    </div>
                    <div class="input-group-icon">
                      <i class="icon icon-search"></i>
                      <input type="text" class="form-control search-input-icon" placeholder="Search">
                    </div>
                  </div>
                </div>
                <div class="col-md-4 text-right">
                  <div class="button-options">
                    <a class="item" href="#"><i class="icon icon-import"></i> Nhập file</a>
                    <a class="item" href="#"><i class="icon icon-export"></i> Xuất file</a>
                  </div>
                </div>
              </div> <!-- End row -->
            </form>

            <table class="table">
              <thead>
                <tr>
                  <th scope="check-all">
                    <div class="dropdown">
                      <label class="checkbox">
                        <input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" />
                        <span></span>
                      </label>
                      <a class="dropdown-toggle" href="#" id="dropdownOperationTable" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>

                      <div class="dropdown-menu" aria-labelledby="dropdownOperationTable">
                        <a class="dropdown-item" href="#">tungasi1</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                      </div>
                    </div>
                  </th>
                  <th scope="col">Mã đơn hàng</th>
                  <th scope="col">Khách hàng</th>
                  <th scope="col">Trạng thái</th>
                  <th scope="col">Tổng</th>
                  <th scope="col">Ngày tạo</th>
                  <th scope="col">Ngày cập nhật</th>
                  <th scope="col">Thao tác</th>
                </tr>
              </thead>
              <tbody>
              {% if orders %}
                {% for order in orders %}
                <tr>
                  <td scope="select-this" data-id="1">
                  <label class="checkbox">
                  {% if order.order_id in selected %}
                    <input type="checkbox" name="selected[]" value="{{ order.order_id }}" checked="checked" />
                    {% else %}
                    <input type="checkbox" name="selected[]" value="{{ order.order_id }}" />
                    {% endif %}
                    <input type="hidden" name="shipping_code[]" value="{{ order.shipping_code }}" />
                    <span></span>
                    </label>
                  </td>

                  <td><a href="#">{{ order.order_id }}</a></td>
                  <td><a href="#">{{ order.customer }}</a></td>
                  <td><span class="status draft">{{ order.order_status }}</span></td>
                  <td>{{ order.total }}</td>
                  <td>{{ order.date_added }}</td>
                  <td>{{ order.date_modified }}</td>
                  <td>
                    <div class="dropdown option-link">
                      <button class="btn btn-light dropdown-toggle" type="button" id="dropdownOrderOption-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownOrderOption-1">
                        <a class="dropdown-item" href="#">Actio11n</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                      </div>
                    </div>
                  </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                  <td class="text-center" colspan="8">{{ text_no_results }}</td>
                </tr>
                {% endif %}
              </tbody>
            </table>
            <div class="table-statistic clearfix">
              <span class="float-right text-right">hiển thị 1-2 trên tổng 2 (0 Pages)</span>
            </div>
          </div>
        </div>
      </div>
      <div class="alert-footer d-none d-lg-block">
        <div class="upgrade-alert">
          <span>You have 13 days  left in your trial</span>
          <a href="#" class="btn btn-light text-light">Update plan</a>
        </div>
      </div>
    </main>
  </div>
  <script type="text/javascript"><!--
$('#button-filter').on('click', function() {
  url = '';

  var filter_order_id = $('input[name=\'filter_order_id\']').val();

  if (filter_order_id) {
    url += '&filter_order_id=' + encodeURIComponent(filter_order_id);
  }

  var filter_customer = $('input[name=\'filter_customer\']').val();

  if (filter_customer) {
    url += '&filter_customer=' + encodeURIComponent(filter_customer);
  }

  var filter_order_status_id = $('select[name=\'filter_order_status_id\']').val();

  if (filter_order_status_id !== '') {
    url += '&filter_order_status_id=' + encodeURIComponent(filter_order_status_id);
  }

  var filter_total = $('input[name=\'filter_total\']').val();

  if (filter_total) {
    url += '&filter_total=' + encodeURIComponent(filter_total);
  }

  var filter_date_added = $('input[name=\'filter_date_added\']').val();

  if (filter_date_added) {
    url += '&filter_date_added=' + encodeURIComponent(filter_date_added);
  }

  var filter_date_modified = $('input[name=\'filter_date_modified\']').val();

  if (filter_date_modified) {
    url += '&filter_date_modified=' + encodeURIComponent(filter_date_modified);
  }

  location = 'index.php?route=sale/order&user_token={{ user_token }}' + url;
});
//--></script> 
  <script type="text/javascript"><!--
$('input[name=\'filter_customer\']').autocomplete({
  'source': function(request, response) {
    $.ajax({
      url: 'index.php?route=customer/customer/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
      dataType: 'json',
      success: function(json) {
        response($.map(json, function(item) {
          return {
            label: item['name'],
            value: item['customer_id']
          }
        }));
      }
    });
  },
  'select': function(item) {
    $('input[name=\'filter_customer\']').val(item['label']);
  }
});
//--></script> 
  <script type="text/javascript"><!--
$('input[name^=\'selected\']').on('change', function() {
  $('#button-shipping, #button-invoice').prop('disabled', true);

  var selected = $('input[name^=\'selected\']:checked');

  if (selected.length) {
    $('#button-invoice').prop('disabled', false);
  }

  for (i = 0; i < selected.length; i++) {
    if ($(selected[i]).parent().find('input[name^=\'shipping_code\']').val()) {
      $('#button-shipping').prop('disabled', false);

      break;
    }
  }
});

$('#button-shipping, #button-invoice').prop('disabled', true);

$('input[name^=\'selected\']:first').trigger('change');

// IE and Edge fix!
$('#button-shipping, #button-invoice').on('click', function(e) {
  $('#form-order').attr('action', this.getAttribute('formAction'));
});

$('#form-order li:last-child a').on('click', function(e) {
  e.preventDefault();
  
  var element = this;
  
  if (confirm('{{ text_confirm }}')) {
    $.ajax({
      url: '{{ catalog }}index.php?route=api/order/delete&api_token={{ api_token }}&store_id={{ store_id }}&order_id=' + $(element).attr('href'),
      dataType: 'json',
      beforeSend: function() {
        $(element).parent().parent().parent().find('button').button('loading');
      },
      complete: function() {
        $(element).parent().parent().parent().find('button').button('reset');
      },
      success: function(json) {
        $('.alert-dismissible').remove();
  
        if (json['error']) {
          $('#content > .container-fluid').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
        }
  
        if (json['success']) {
          location = '{{ delete }}';
        }
      },
      error: function(xhr, ajaxOptions, thrownError) {
        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
      }
    });
  }
});
//--></script> 
  <script src="view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
  <link href="view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.css" type="text/css" rel="stylesheet" media="screen" />
  <script type="text/javascript"><!--
$('.date').datetimepicker({
  language: '{{ datepicker }}',
  pickTime: false
});
//--></script>
</div>

{{ footer }} 