{#
****************************************************** 
 * @package	SO Framework for Opencart 3.x
 * @author	http://www.opencartworks.com
 * @license	GNU General Public License
 * @copyright(C) 2008-2017 opencartworks.com. All rights reserved.
 ******************************************************
#}
{#====  Variables Device_res ==== #}
{% set devices = { 'lg' : 'Desktops','md' : 'Tablet Landscape','sm' : 'Tablet Portrait','xs' : 'Phones'} %}
{% set device_res = '' %}


{% if soconfig.get_route()=='product/category' or  soconfig.get_route()=='extension/module/so_filter_shop_by/filter_data' %}
	{% for  key, subfix in devices %}
		{% if soconfig.get_settings('product_catalog_column_'~key) == 5 %}
			{% set device_res = device_res ~ ' col-'~key~'-15' %}
		{% else %}
			{% set device_res = device_res ~ ' col-'~key~'-'~(12 / soconfig.get_settings('product_catalog_column_'~key) ) %}
		{% endif %}
	{% endfor %}
{% else %}
	{% for  key, subfix in devices %}
		{% if soconfig.get_settings('other_catalog_column_'~key) == 5 %}
			{% set device_res = device_res ~ ' col-'~key~'-15' %}
		{% else %}
			{% set device_res = device_res ~ ' col-'~key~'-'~(12 / soconfig.get_settings('other_catalog_column_'~key) ) %}
		{% endif %}
	{% endfor %}
{% endif %}

{#==== filters panel Top==== #}
<div class="product-filter filters-panel">
  <div class="row">
		<div class="col-sm-2 view-mode hidden-sm hidden-xs">
			<div class="list-view">
				<button type="button" id="grid-view" class="btn btn-default grid {{ listingType=='grid' ? 'active' : ''}}" title="{{ button_grid }}"><i class="fa fa-th-large"></i></button>
				<button type="button" id="list-view" class="btn btn-default list {{ listingType=='list' ? 'active' : ''}}" title="{{ button_list }}"><i class="fa fa-bars"></i></button>
			</div>
		</div>
	
		<div class="short-by-show form-inline text-right col-md-10 col-sm-12">
			<div class="form-group short-by">
				<label class="control-label" for="input-sort">{{ text_sort }}</label>
				<select id="input-sort" class="form-control" onchange="location = this.value;">
					
					{% for sorts in sorts %}
					{% if sorts.value == '%s-%s'|format(sort, order) %}
					<option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
					{% else %}
					
					<option value="{{ sorts.href }}">{{ sorts.text }}</option>
					
					{% endif %}
					{% endfor %}
				
				</select>
			</div>
			<div class="form-group">
				<label class="control-label" for="input-limit">{{ text_limit }}</label>
				<select id="input-limit" class="form-control" onchange="location = this.value;">
					{% for limits in limits %}
					{% if limits.value == limit %}
					<option value="{{ limits.href }}" selected="selected">{{ limits.text }}</option>
					{% else %}
					<option value="{{ limits.href }}">{{ limits.text }}</option>
					{% endif %}
					{% endfor %}
				</select>
			</div>
			<div class="form-group product-compare"><a href="{{ compare }}" id="compare-total" class="btn btn-default">{{ text_compare }}</a></div>
		</div>
	
  </div>
</div>
{#==== Product List|Grid ==== #}
<div class="products-list row {{ listingType }}">
	{% for idproduct, product in products %}
	
	{% if listingType=='grid' %}
		<div class="product-layout {{ device_res }}">
			<div class="product-item-container">
				<div class="left-block">
					<div class="product-image-container {% if soconfig.get_settings('secondimg') =='2'  and  product.thumb2 %} second_img{% endif %}  ">
						<a href="{{ product.href }} " title="{{ product.name }} ">
							<img  src="{{ product.thumb }} "  title="{{ product.name }} " class="img-1 img-responsive" />
							{% if soconfig.get_settings('secondimg') =='2'  and  product.thumb2  %}
								<img src="{{ product.thumb2 }}"  alt="{{ product.name }} " title="{{ product.name }} " class="img-2 img-responsive" />
							{% endif %}
						</a>
					</div>
					
					{#===== Show CountDown Product =======#}
					{% if soconfig.get_settings('countdown_status') and product.special_end_date %}
						{% include theme_directory~'/template/soconfig/countdown.twig' with {product: product,special_end_date:product.special_end_date} %}
					{% endif %}
					
					<div class="box-label">
						{#===== New Label=======#}
						{% if soconfig.get_settings('new_status') and product.date_available %} 
							<span class="label-product label-new">{{ objlang.get('text_new')}} </span>
						{% endif %} 
						
						{#=======Discount Label======= #}
						{% if soconfig.get_settings('discount_status')  %} 
						{% if product.price  and  product.special  %} 
							<span class="label-product label-sale">
								 {{ product.discount }}
							</span>
						{% endif %} 
						{% endif %} 
					</div> 
					{% if soconfig.get_settings('quick_status') %}
						<a class="quickview iframe-link visible-lg btn-button" title="{{ objlang.get('text_quickview')}} " data-fancybox-type="iframe"  href="{{ our_url.link('extension/soconfig/quickview','product_id='~product.product_id) }}"> <i class="fa fa-eye"></i> {{objlang.get('text_quickview')}}</a>
					{% endif %}

					<div class="button-group">
						<button class="addToCart btn-button" type="button" title="{{ button_cart}}" onclick="cart.add('{{ product.product_id }}', '{{ product.minimum }}');"><!-- {{ button_cart }} --><i class="fa fa-shopping-cart"></i></button>
						<button class="wishlist btn-button" type="button" title="{{ button_wishlist}}" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart"></i></button>
						<button class="compare btn-button" type="button" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-random"></i></button>
						 
					</div>
				</div>
				
				<div class="right-block">
					<div class="caption">
						<h4><a href="{{ product.href }} ">{{ product.name }} </a></h4>
						{% if soconfig.get_settings('rating_status') %} 
						<div class="ratings">
							<div class="rating-box">
							{% for i in 1..5 %}
							{% if product.rating < i %} 
								<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
							{% else %}   
								<span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
							{% endif %} 
							{% endfor %}

							</div>
						</div>
						{% endif %} 
						
						{% if product.price %} 
						<div class="price">
							{% if not product.special %} 
								<span class="price-new">{{ product.price }} </span>
							{% else %}   
								<span class="price-new">{{ product.special }} </span> <span class="price-old">{{ product.price }} </span>
							{% endif %} 
						</div>
						{% endif %} 
						
						<div class="description hidden">
							<p>{{ product.description }} </p>
						</div>
					</div>
					
				</div>
				
			</div>
		</div>
		
		{# =========Clearfix fluid grid layout============== #}
		{% set subfix_id = idproduct + 1 %}
		{% if soconfig.get_route()=='product/category' or  soconfig.get_route()=='extension/module/so_filter_shop_by/filter_data' %}
			{% for  key, subfix in devices %}
				{% set idproduct = key + 1 %}
				{% if soconfig.get_settings('product_catalog_column_'~key) %}
					{% if subfix_id % soconfig.get_settings('product_catalog_column_'~key) == 0 %}
						{% set subfix_id = 1 %}
						<div class="clearfix visible-{{key}}-block"></div>
					{% endif %}
				{% endif %}
			{% endfor %}
		{% else %}
			{% for  key, subfix in devices %}
				{% if soconfig.get_settings('other_catalog_column_'~key) %}
					{% if subfix_id % soconfig.get_settings('other_catalog_column_'~key) == 0 %}
						{% set subfix_id = 1 %}
						<div class="clearfix visible-{{key}}-block"></div>
					{% endif %}
				{% endif %}
			{% endfor %}
		{% endif %}
		{# ====End Clearfix fluid grid layout =======#}
		
	{% else %}
		<div class="product-list product-layout col-xs-12">
			<div class="product-item-container">
				<div class="left-block">
					<div class="product-image-container {% if soconfig.get_settings('secondimg') =='2'  and  product.thumb2 %} second_img{% endif %}  ">
						<a href="{{ product.href }} " title="{{ product.name }} ">
							<img  src="{{ product.thumb }} "  title="{{ product.name }} " class="img-1 img-responsive" />
							{% if soconfig.get_settings('secondimg') =='2'  and  product.thumb2  %}
								<img src="{{ product.thumb2 }}"  alt="{{ product.name }} " title="{{ product.name }} " class="img-2 img-responsive" />
							{% endif %}
						</a>
						
					</div>
					<div class="box-label">
						{# New Label  #}
						{% if soconfig.get_settings('new_status') and product.date_available %} 
							<span class="label-product label-new">{{ objlang.get('text_new')}} </span>
						{% endif %} 
						
						{# Discount Label #}
						{% if soconfig.get_settings('discount_status')  %} 
						{% if product.price  and  product.special  %} 
							<span class="label-product label-sale">
								 {{ product.discount }}
							</span>
						{% endif %} 
						{% endif %} 
					</div> 

					
					
					{#===== Show CountDown Product =======#}
					{% if soconfig.get_settings('countdown_status') and product.special_end_date %}
						{% include theme_directory~'/template/soconfig/countdown.twig' with {product: product,special_end_date:product.special_end_date} %}
					{% endif %}
				</div>
				
				<div class="right-block">
					<div class="caption">
						<h4><a href="{{ product.href }} ">{{ product.name }} </a></h4>
						{% if soconfig.get_settings('rating_status') %} 
						<div class="ratings">
							<div class="rating-box">
							{% for i in 1..5 %}
							{% if product.rating < i %} 
								<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
							{% else %}   
								<span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
							{% endif %} 
							{% endfor %}

							</div>
						</div>
						{% endif %} 
						
						{% if product.price %} 
						<div class="price">
							{% if not product.special %} 
								<span class="price-new">{{ product.price }} </span>
							{% else %}   
								<span class="price-new">{{ product.special }} </span> <span class="price-old">{{ product.price }} </span>
							{% endif %} 
						</div>
						{% endif %} 
						
						<div class="description ">
							<p>{{ product.description }} </p>
						</div>
					</div>
					<div class="button-group">
						<button class="addToCart" type="button" title="{{ button_cart }} " onclick="cart.add('{{ product.product_id }} ', '{{ product.minimum }} ');"><span>{{ button_cart }} </span></button>
						<button class="wishlist btn-button" type="button" title="{{ button_wishlist }} " onclick="wishlist.add('{{ product.product_id }} ');"><i class="fa fa-heart"></i></button>

						<button class="compare btn-button" type="button" title="{{ button_compare }} " onclick="compare.add('{{ product.product_id }} ');"><i class="fa fa-random"></i></button>
						{% if soconfig.get_settings('quick_status')  %}
							<a class="quickview iframe-link visible-lg btn-button" title="{{ objlang.get('text_quickview')}} " data-fancybox-type="iframe"  href="{{ our_url.link('extension/soconfig/quickview','product_id='~product.product_id) }}"> <i class="fa fa-eye"></i> </a>
						{% endif %} 
						
					</div>
				</div>
				
			</div>
		</div>
	
	{% endif %}
	{% endfor %}
</div>

{#==== filters panel Bottom==== #}
<div class="product-filter product-filter-bottom filters-panel">
	<div class="row">
		<div class="col-sm-6 text-left">{{ pagination }}</div>
		<div class="col-sm-6 text-right">{{ results }}</div>
	</div>
</div>
<script type="text/javascript"><!--
 $('.view-mode .list-view button').bind("click", function() {
	if ($(this).is(".active")) {return false;}
	$.cookie('listingType', $(this).is(".grid") ? 'grid' : 'list', { path: '/' });
	location.reload();
});
//--></script> 