<div class="page-wrapper">
  {{ custom_header }}
  <div class="content-wrapper row m-0">
  {{ custom_column_left }}
<main class="main-wrap col-12 col-lg-10 p-0">
  <div class="main-content">
    <div class="sub-head clearfix">
      <h1 class="page-title float-left">Danh mục sản phẩm</h1>
      <a class="advance-link btn float-right" href="add-category.html">Thêm danh mục</a>
    </div>
    <div class="box-wrap">
      <div class="box-head">
        <div class="nav nav-tabs" id="order-form-tab" role="tablist">
          <a href="{{ product }}">Danh sách sản phẩm</a>
          <a class="active">Danh mục sản phẩm</a>
        </div>
      </div>
      <div class="box-content">
        <form class="filter-form order-filter clearfix">
          <div class="row">
            <div class="col-md-8">
              <div class="input-group search-group">
                <div class="input-group-prepend">
                  <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Lọc</button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div role="separator" class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                  </div>
                </div>
                <div class="input-group-icon">
                  <i class="icon icon-search"></i>
                  <input type="text" class="form-control search-input-icon" placeholder="Search">
                </div>
              </div>
            </div>
          </div> <!-- End row -->
        </form>

        <table class="table">
          <thead>
            <tr>
              <th scope="check-all">
                <div class="dropdown">
                  <label class="checkbox">
                    <input type="checkbox" name="select_all">
                    <span></span>
                  </label>
                  <a class="dropdown-toggle" href="#" id="dropdownOperationTable" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>

                  <div class="dropdown-menu" aria-labelledby="dropdownOperationTable">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </div>
              </th>
              <th scope="col">Danh mục</th>
              <th scope="col">Số sản phẩm</th>
              <th scope="col">Sản phẩm trong giỏ</th>
              <th scope="col" width="200">Nhìn thấy trong menu</th>
              <th scope="col">Hành động</th>
            </tr>
          </thead>
          <tbody>
          {% if categories %}
            {% for category in categories %}
            <tr>
              <td scope="select-this" data-id="1">
                <label class="checkbox">
                  <input type="checkbox" name="select_this" value="1">
                  <span></span>
                </label>
              </td>
              <td>{{ category.name }}</td>
              <td>{{ category.product_quantity }}</td>
              <td>{{ category.product_quantity_cart }}</td>
              {% if category.status == 1 %}
              <td>
                <span class="status-text py-2 px-3 text-white bg-primary border-radius-20">Enable</span>
              </td>
              {% else %}
              <td>
                <span class="status-text py-2 px-3 text-white bg-primary border-radius-20">Disable</span>
              </td>
              {% endif %}
              <td>
                <div class="dropdown option-link">
                  <button class="btn btn-light dropdown-toggle" type="button" id="dropdownOrderProductOption-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                  <div class="dropdown-menu" aria-labelledby="dropdownOrderProductOption-1">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </div>
              </td>
            </tr>
            {% endfor %}
          {% else %}
          <tr>
            <td class="text-center" colspan="8">{{ text_no_results }}</td>
          </tr>
          {% endif %}
          </tbody>
        </table>
        <div class="table-statistic clearfix">
          <span class="float-right text-right">hiển thị 1-2 trên tổng 2 (0 Pages)</span>
        </div>
      </div>
    </div>
  </div>
</main>
</div>
</div>
{{ footer }}